<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/ab76546495.js" crossorigin="anonymous"></script>
    <title>Inception</title>
</head>
<body>
    <section class="hero has-background-link-light is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title is-1">
                    Hello from Flask! 🌶️
                </p>
                <p class="subtitle is-3">
                    This is a static website!
                </p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content mt-5 has-text-centered">
            <p>
                <strong>Inception</strong> by <a href="https://github.com/lucas-ht">lucas-ht</a>, a 42 project made with
                <span class="icon">
                    <i class="fa-solid fa-heart fa-beat" style="color: #ff4242;"></i>
                </span>
            </p>
        </div>
    </footer>
</body>
</html>